body {
  font-family: "lato", sans-serif;
}
.link{
  width:1000px;
  
}

.container {
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 1000px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #a9d7fb;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color:black;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #073642;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
.add{
 text-align: right;
 margin-left:auto;
 margin-right:0;

}
button:active 
{
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;

}
button:hover,
 button:focus {
  background: #2196F3;
  
  background: linear-gradient(#2196F3, #2196F3);
  color:white;
  outline: none;
  transition: 1s all;
  border: 1px solid #2196F3;
}
button {
  animation: input-entry 3s ease-in;
  background: #2196F3;
  background: linear-gradient(#2196F3, #2196F3);
  box-sizing: content-box;
  border: 1px solid #2196F3;
  border-left-color: #2196F3;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color:white;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 20px 200px;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #2196F3;
  width: 100px;
  transition: 1s all;
}

select.form-control:not([size]):not([multiple]) {

height:auto !important;
}